<h1>My Favorite Books</h1>
<div class="row" ng-controller='ReadingListController as readingListCtrl'>

  <button class="btn btn-default">Create a Review</button>
  <hr />
  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="book row" ng-repeat="book in readingListCtrl.books">
      <aside class="col-sm-3">
        <h3><a href="http://www.amazon.com/gp/product/0553593714"
            ><img ng-src="https://images-na.ssl-images-amazon.com/images/I/51KzcuZMlzL._SX304_BO1,204,203,200_.jpg" alt="Cover of Book Title" class="full"></a>
          </h3>
          <p class='goodRating rating'>5/5</p>
        </aside>

        <div class="col-sm-9">
        <h3><a href="http://www.amazon.com/gp/product/0553593714">Book Title</a>
            </h3>

        <cite class="text-muted">Written by Author here</cite>

          <p>Book Review</p>
          <ul class="list-unstyled">
              <li>
                  <span  class="label label-primary">genre</span>
              </li>
          </ul>



    </li>
  </ul>
</div>
